.header {
	background-color: #143642;
}
.resources li {
	list-style: none;
}
main {
	min-height: 80vh;
}
.footer {
	background-color: rgb(41, 39, 39);
	color: white;
}
li {
	list-style: none;
}
.home ul {
	background-color: #ffe5e5;
	padding-left: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.home li {
	color: rgb(22, 21, 21);
}

.color-black {
	color: black;
}
.title {
	font-size: 18px;
	color: rgb(22, 21, 21);
}
